.card {
    width: 100%;
    height: 396px;
    /* margin-inline: auto; */
    margin-bottom: 80px;
    background-color: #EDF7FA;
}
.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 864px;
    margin-inline:auto ;
    height: 60px;
}
.card-content span:nth-child(1){
    color: #21243D;
    font-size: 22px;
    font-weight: 400;
}
.card-content span:nth-child(2){
    color: #00A8CC;
    font-size: 22px;
    font-weight: 400;
}
.card-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    width: 864px;
    height: 397px;
    margin: auto;
    /* background-color: rgb(255, 255, 255); */
    /* width: 864px;
    margin: auto; */
    /* background-color: rgb(153, 118, 118); */
}

.card h1 {
    margin-bottom: 35px;
    font-weight: bold;
    width: 374px;
}

.info {
    margin-bottom: 23px;
}

.card-section {
    padding: 30px;
    margin: 0px 20px;
    width: 350px;
    height: 249px;
    background-color: rgb(255, 255, 255);
}

.card p {
    width: 300px;
    height: 117px;
}

.card h3 {
    margin-left: 150px;
    font-weight: bold;
    color: rgb(180, 177, 177);
    font-family: 'Times New Roman';
    font-size: 20px;
    width: 100px;
    height: 30px;
}