@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: aqua;
}

nav {
  display: flex;
  justify-content: end;
  height: 146px;
  width: 100%;
  margin-inline: auto;
}

a:link {
  background-color: transparent;
  text-decoration: none;
}

nav a {
  padding-left: 14px;
  padding-right: 34px;
  height: 40px;
  margin-top: 34px;
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
}
